body{
    margin: 0;
    font-family: 'Arial', 'Helvetica', sans-serif;
    background-color: grey;
}
p {
    text-align: center;
}
header{
    background-color: black;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
header h1{
    color: white;
    font-family:cursive;
}
header img{
    border-radius: 300px;
    width: 400px;
    border-radius: 3000px solid white;
}
main {
    width: 1200px;
    margin: auto;
}
main img{
    width: 100%;
}